<div class="container"
fxLayout="column"
fxLayoutGap="10px">

<div fxFlex>
<div fxLayout="row" fxLayoutAlign="none center">
 <h3 fxFlex="80%">My Favorites</h3>
 <span class="flex-spacer"></span> 
 <md-slide-toggle fxFlex
 [(ngModel)]="delete"
 [color]="Warn">
 Delete!
 </md-slide-toggle>
</div>
<hr>
</div>

<div *ngIf="favorites || errMess; else loading">
<div fxFlex *ngIf="favorites" [@expand]>
<md-grid-list cols="2" rowHeight="200px">
 <md-grid-tile *ngFor="let favorite of favorites">
   <div [routerLink]="['/dishdetail', favorite.dishesId]" appHighlight>
   <img height="200px" src="{{BaseURL + '/' + favorite.dishes.image}}" alt={{favorite.dishes.name}}>
   </div>
   <md-grid-tile-footer>
     <h1 md-line>{{favorite.dishes.name | uppercase}}</h1>
     <span class="flex-spacer"></span>
     <button md-icon-button *ngIf="delete" (click)="deleteFavorite(favorite.id)">
       <span style="color: red;" class="fa fa-times fa-lg"></span>
     </button>
   </md-grid-tile-footer>
 </md-grid-tile>
</md-grid-list>
</div>
<div *ngIf="errMess">
<h2>Error</h2>
<h4>{{errMess}}</h4>
</div>
</div>
<ng-template #loading>
  <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
</ng-template>
</div>